<% provide(:title, @project.title) %>

<div class="project">
  
  <div class="header">
    <%= image_tag @project.project_picture.image.url, class: "project-image" %>
    <h1 class="project-title">
      <%= @project.title %>
    </h1>
  </div>

  <div class="project-details center">

    <div class="project-description">

      <p>
        <%= @project.description %>
      </p>
      
    </div>

    <div class="project-category">

      <%= @category.name %>

    </div>

    <% unless @technologies.empty? %>

      <div class="project-technology">
        
        <ul class="technologies-tags">
          <% @technologies.each do |tech| %>
            <li>
              <%= tech %>
            </li>
          <% end %>
        </ul>
        
      </div>

    <% end %>

    <div class="project-screenshots">

      <% @project_images.each do |image| %>
        <%= image_tag(image.image_url) %>
      <% end %>

    </div>
    
  </div>

  

</div>