<% provide(:title, @project.title) %>

<div class="project">
  <div class="project-details">
    <div class="project-image">
      <%= image_tag @project.project_picture.image.url %>
    </div>

    <div class="project-title">
      <%= @project.title %>
    </div>
    
    <div class="project-description">
      <strong>Description:</strong>
      <%= @project.description %>
    </div>

    <div class="project-category">
      <strong>Category:</strong>
      <%= @category.name %>
    </div>

    <% unless @technologies.empty? %>
      <div class="project-technology">
        <strong>Technologies:</strong>
        <ul class="technologies-tags">
          <% @technologies.each do |tech| %>
            <li>
              <%= tech %>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>
    
  </div>

  <div class="project-screenshots clearfix">
      <% @project_images.each do |image| %>
        <!-- <%= link_to image_tag(image.image_url(:medium)), image.image_url %> -->
        <%= image_tag(image.image_url(:medium)) %> -
      <% end %>
  </div>
</div>