<div class="nav-button nav-icon">
</div>

<nav role='navigation'>
    <ul>
        <li>
            <%= link_to root_path do %>
              home
            <% end %>
        </li>

        <li>
            <%= link_to about_path do %>
              about
            <% end %>
        </li>

        <li>
            <%= link_to projects_path do %>
              portfolio
            <% end %>
        </li>

        <li>
            <%= link_to '#' do %>
              cv
            <% end %>
        </li>

        <li>
            <%= link_to '#' do %>
              contact
            <% end %>
        </li>
    </ul> 
</nav>