<div id="sidebar">
		<div id="nav">
			<ul>
				<li>
					<%= link_to root_path do %>
						<i class="fa fa-home"></i>home
					<% end %>
				</li>

				<li>
					<%= link_to about_path do %>
						<i class="fa fa-chevron-right"></i>about
					<% end %>
				</li>

				<li>
					<%= link_to projects_path do %>
						<i class="fa fa-book"></i></i>portfolio
					<% end %>
				</li>

				<li>
					<%= link_to '#' do %>
						<i class="fa fa-paperclip"></i></i>cv
					<% end %>
				</li>

				<li>
					<%= link_to '#' do %>
						<i class="fa fa-envelope"></i>contact
					<% end %>
				</li>
			</ul>	
		</div>
	</div>